<h1>Scraping the News With Mongoose</h1>

<div></div>

<p>This is the future portale of the web app Scraping the News With Mongoose.

    \n

    \nHere you will be able to scrape the news from a news source and see it displayed here.
</p>